@charset "UTF-8";
@font-face {
  font-family: Copyduck;
  src: url(../fonts/Copyduck.otf) format(opentype);
}
:root {
  --cor-fundo: linear-gradient(to bottom, #dabb79, #ffffff00);
  --cor1:#3D8D7A;
  --cor2:#B3D8A8;
  --cor3:#FBFFE4;
  --cor4:#A3D1C6;
  --cor5:#A8987B;
  --cor-base:#fbffe496;

  --font-Copyduck: 'Copyduck', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pexels-quang-nguyen-vinh-222549-2166695.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.5; 
  z-index: -1; 
}



.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cabecalho_links_img {
  width: 200px;
  height: 200px;
  margin: 10px auto;
}

.cabecalho_links {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-Copyduck);
  font-size: 1.5em;
  color: var(--cor1);
}

.cabecalho_links:hover {
  color: var(--cor5);
  transform: scale(1.1);
  transition: all 0.3s ease;
}
main {
  justify-content: center;
  max-width: 800px;
  margin: auto;
  background-color: var(--cor-base);
  padding: 20px;
  border-radius: 40px;
}